section {
    max-width: 1280px;
    height: 400px;
    background: url('../image/category-hero2-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(248, 251, 251);
    position: relative;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.category-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-description p {
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    white-space: nowrap;
    margin: 0 1rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.category-description-search-container {
    width: 500px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category-description-search-container i {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.404);
    padding: 1rem;
}

.category-description-search-container:hover i {
    color: rgba(0, 0, 0, 0.855);
}

@media (max-width: 768px) {
    .category-description p {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .category-description-search-container {
        max-width: 450px;
        height: 50px;
    }
}

@media (max-width: 500px) {
    section {
        margin-bottom: 4rem;
    }

    .category-description p {
        font-size: 1.8rem;
        white-space: wrap;
    }

    .category-description-search-container {
        max-width: 350px;
        height: 2.8rem;
    }

    .category-description-search-container i {
        padding: 0.5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .category-description-search-container {
        max-width: 300px;
    }
}

/* Brunch & Soup Section */

.brunch-section-container,
.soup-section-container {
    max-width: calc(920px + 4rem);
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 4rem;
}

.soup-section-container {
    padding-top: 4rem;
}

.brunch-section-container p,
.soup-section-container p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.708);
    font-weight: 500;
    padding-bottom: 2rem;
    text-transform: capitalize;
}

.brunch-section-description,
.soup-section-description {
    color: rgba(0, 0, 0, 0.855);
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding-bottom: 4rem;
    text-align: justify;
}

.brunch-section-meal,
.soup-meal {
    max-width: 920px;
    height: 430px;
    display: flex;
    gap: 1rem;
}

.last-brunch-section-meal,
.first-soup-meal {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.brunch-section-meal p,
.soup-meal p {
    font-size: 2rem;
    padding: 0.5rem;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 500;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
    white-space: nowrap;
    cursor: pointer;
}

.last-brunch-section-meal p,
.first-soup-meal p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.other-brunch-section-meal,
.other-soup-meal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.other-brunch-meal-content,
.other-soup-content {
    height: 50%;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.last-brunch-section-meal::after,
.other-brunch-meal-content::after,
.first-soup-meal::after,
.other-soup-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.other-brunch-meal-content p,
.other-soup-content p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brunch-section-meal img,
.soup-meal img {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 930px) {
    .brunch-section-meal,
    .soup-meal {
        height: 350px;
    }

    .brunch-section-meal p,
    .soup-meal p {
        font-size: 1.8rem;
    }
}

@media (max-width: 830px) {
    .brunch-section-meal,
    .soup-meal {
        height: 340px;
    }

    .brunch-section-meal p,
    .soup-meal p {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .brunch-section-container,
    .soup-section-container {
        max-width: calc(765px - 4rem);
        padding: 0;
        padding-bottom: 4rem;
    }

    .soup-section-container {
        padding-top: 4rem;
    }
}

@media (max-width: 720px) {
    .brunch-section-container,
    .soup-section-container {
        padding: 0 1rem;
        padding-bottom: 4rem;
    }

    .soup-section-container {
        padding-top: 4rem;
    }

    .brunch-section-meal,
    .soup-meal {
        flex-direction: column;
        height: 900px;
    }

    .last-brunch-section-meal,
    .other-brunch-meal-content,
    .first-soup-meal,
    .other-soup-content {
        height: 290px;
    }

    .brunch-section-meal p,
    .soup-meal p {
        font-size: 1.8rem;
    }
}

/* food-recipe-category */

.food-recipe-category {
    padding: 4rem 0;
}

.food-recipe-category-container {
    position: relative;
    max-width: calc(920px + 4rem);
    margin: 0 auto;
    padding: 0 2rem;
}

.food-recipe-category p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.708);
    font-weight: 500;
    max-width: calc(920px + 4rem);
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 2.5rem;
    text-transform: capitalize;
}

.food-recipe-category-card {
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.food-recipe-category-card.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.food-recipe-category-card.dragging .food-recipe-name {
    user-select: none;
    pointer-events: none;
}

.food-recipe-name {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.food-recipe-name::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.15);
}

.food-recipe-category-card .food-recipe-name.active {
    display: none;
}

.food-recipe-name:hover:after {
    background-color: rgba(235, 238, 239, 0.45);
    filter: blur(20px);
}

.food-recipe-name p {
    font-size: 0.8rem;
    padding: 0.5rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    text-shadow: 5px 4px 11px rgb(0, 0, 0), 0 2px 5px rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
    cursor: pointer;
}

.food-recipe-blur-left {
    width: 2.5rem;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 1rem;
    filter: blur(10px);
    opacity: 1;
    z-index: 5;
    display: none;
}

.food-recipe-blur-right {
    width: 2.5rem;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 1rem;
    filter: blur(10px);
    opacity: 1;
    z-index: 5;
}

.food-recipe-category-container i {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 13px 16px;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 10;
}

.food-recipe-category .food-recipe-category-previous {
    position: absolute;
    left: 2rem;
    top: 32%;
    display: none;
}

.food-recipe-category .food-recipe-category-next {
    position: absolute;
    right: 2rem;
    top: 32%;
}

@media (max-width: 720px) {
    .food-recipe-category-container,
    .food-recipe-category p {
        padding: 0 1rem;
    }

    .food-recipe-category p {
        padding-bottom: 2rem;
    }

    .food-recipe-name {
        width: 90px;
        height: 90px;
        margin-right: 1.5rem;
    }

    .food-recipe-name p {
        font-size: 0.7rem;
        padding: 0.5rem;
        letter-spacing: 0;
    }

    .food-recipe-blur-left,
    .food-recipe-blur-right {
        width: 1.5rem;
        filter: blur(7px);
    }

    .food-recipe-category .food-recipe-category-previous {
        left: 1rem;
    }

    .food-recipe-blur-left {
        left: 0.5rem;
    }

    .food-recipe-category .food-recipe-category-next {
        right: 1rem;
    }

    .food-recipe-blur-right {
        right: 0.5rem;
    }

    .food-recipe-category-container i {
        display: none;
    }
}

/* Food Recipe Category Details */

.food-recipe-category-content {
    max-width: calc(920px + 4rem);
    margin: 0 auto;
    padding: 5rem 2rem;
}

.recipe-category-content-image-container {
    display: flex;
    column-gap: 2rem;
    padding-bottom: 3rem;
}

.category-content-image {
    width: 125px;
    height: 125px;
    border: 2px solid rgba(188, 185, 185, 0.445);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.category-content-image img {
    width: 180%;
}

.recipe-category-content-image-container h5 {
    font-size: 2.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.855);
    align-self: center;
}

.recipe-category-name-details p {
    color: rgba(0, 0, 0, 0.855);
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.8rem;
}

@media (max-width: 720px) {
    .food-recipe-category-content {
        padding: 4rem 1rem;
    }

    .recipe-category-content-image-container {
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }
}

/* Food Recipe Category Result */

.food-recipe-category-result-title-container p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.708);
    font-weight: 500;
    max-width: calc(920px + 4rem);
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 1rem;
}

.food-recipe-category-result-container {
    padding-bottom: 5rem;
}

.food-recipe-category-result-content {
    max-width: calc(920px + 4rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 2rem;
    column-gap: 1rem;
    row-gap: 4rem;
}

.category-result-content-image-container {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0.75rem;
    position: relative;
    cursor: pointer;
}

.category-result-content-image-container img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.5s;
    object-fit: cover;
}

.category-result-content-image-container:hover img {
    transform: scale(1.06);
}

.category-result-content-details-container {
    display: flex;
}

.category-result-content-details {
    flex: 1;
    margin-right: 10px;
}

.category-result-content-details h4 {
    color: rgba(0, 0, 0, 0.708);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.category-result-content:hover h4 {
    color: rgba(58, 150, 145, 1);
}

.category-result-content-details h5 {
    color: rgba(0, 0, 0, 0.571);
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 7px;
}

.category-result-content-details-container i {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 12px 11px;
    border-radius: 50%;
    color: red;
    font-size: 1.1rem;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .food-recipe-category-result-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 720px) {
    .food-recipe-category-result-content {
        padding: 0 1rem;
    }

    .food-recipe-category-result-title-container p {
        padding: 0 1rem;
        padding-bottom: 1rem;
    }

    .category-result-content-image-container {
        margin-bottom: 0.3rem;
    }
}

@media (max-width: 600px) {
    .food-recipe-category-result-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .category-result-content-image-container {
        height: 218px;
    }
}
